{%  extends "layout.html" %}
{% block title %} Sign-up to Anthology {% endblock %}
{% block content %}
    <h1>Sign Up To Anthology</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(size=32) }}
        </p>
         <p>
            {{ form.age.label }}<br>
            {{ form.age(size=32) }}
        </p>
        <p>
            {{ form.gender.label }}<br>
            {{ form.gender(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if error %}
        <p class="error">ERROR: {{ error }}</p>
    {% endif %}

{% endblock %}
